<div style="text-align: center;">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <a style="color: white">Blog | Angular</a>
            </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #efefef;">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/create']" class="nav-link">Post a blog</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>